-
  const arrFooter = [
    {
      caption: "Компания",
      list: [
        "О компании",
        "Оптовым покупателям",
        "Доставка и оплата",
        "Возврат",
        "Где мой заказ",
        "Блог",
        "Дисконтные программы",
        "Контакты",
      ]
    },
    {
      caption: "Каталог",
      list: [
        "Мальчики",
        "Девочки",
        "Новорожденные",
        "Беременные",
        "Familylook",
        "Магазины",
      ]
    },
    {
      caption: "Информация",
      list: [
        "Публичная оферта",
        "Дисконтные программы",
        "Политика конфиденциальности",
        "Контакты",
        "Оптовым покупателям",
        "Вакансии",
      ]
    },
    {
      caption: "Наши бренды",
      images: [
        {
          name: "giriziza",
          width: "106",
          height: "38",
        },
        {
          name: "very-neet",
          width: "108",
          height: "11",
        },
        {
          name: "cubby",
          width: "86",
          height: "26",
        },
      ]
    },
  ]

footer.footer
  .container.footer__container
    .footer__main-column
      a(href="#").footer__logo
        +img("logo","png",51,53)
      p.footer__text 2021 © Компания Babyshop4you Магазин&nbsp;стильной одежды для детей
      a(href="tel:88005004030").footer__tel
        +svg("tel",16,16)
        |8 800 500-40-30
      ul.footer__social
        each item in ["vk","insta"]
          li
            a(href="#")
              +svg(item,26,26)
      p.footer__text Создание сайта – H-Cube
    each item in arrFooter
      .footer__column
        .footer__caption=item.caption
        if item.images
          each image in item.images
            a.footer__partner-link(href="#")
              +img(image.name,"png",image.width,image.height)
        else
          ul.footer__list
            each link in item.list
              li
                a(href="#")=link
