header.header
  .container.header__row
    a.header__logo(href="#")
      +img("logo","png",103,108)
    .header__column
      include blocks/header-top.pug
      include blocks/header-bottom.pug
    button.header__mobile-btn.js-btn(type="button", data-block="question")
      +svg("question",22,22)
    button.header__mobile-btn.js-btn(type="button", data-block="search")
      +svg("search",22,22)
    button(type="button", data-block="nav").hamburger.header__hamburger.js-btn
      span.hamburger__bar.hamburger__bar--bar1
      span.hamburger__bar.hamburger__bar--bar2
      span.hamburger__bar.hamburger__bar--bar3
      span.hamburger__bar.hamburger__bar--bar4
