include mixin/svg.pug
include mixin/img.pug
include mixin/section-card.pug
include mixin/card.pug
include mixin/catalog-block.pug
include mixin/color-radio.pug
include mixin/catalog-card.pug
include mixin/breadcrumbs.pug
include mixin/filter-item.pug
include mixin/filter-radio.pug
include mixin/size-row.pug
include mixin/card-flag.pug
include mixin/like-btn.pug
