section.main-slider.slider
  .big-container.main-slider__big-container
    .swiper-container
      .swiper-wrapper
        - for(let i=0;i<3;i++)
          .swiper-slide.main-slider__slide(style="background-image:url('img/leaf.svg');")
            .container.main-slider__container
              .main-slider__column
                h2.main-slider__caption Осенняя пора
                p.main-slider__text Коллекция осень-зима 2021-2022
              .main-slider__img
                +img("main","png",337,590)
  button.main-slider__btn.js-btn-next(type="button")
    +svg("left",29,24)
  button.main-slider__btn.js-btn-prev(type="button")
    +svg("left",29,24)
  .main-slider__pagination.swiper-pagination
