.products {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 31px 24px;
  grid-template-rows: auto;

  @media screen and (max-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media screen and (max-width: $tablet-width) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: $min-tablet-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.product__card {
  display: grid;
  gap: 18px;
  grid-template-rows: subgrid;
  grid-row: span 3;

  &:hover button {
    opacity: 1;
  }
}

.product__img {
  @include center();
  width: 100%;
  height: 278px;

  @media screen and (max-width: $desktop-width) {
    height: auto;
  }

  & img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.product__price-row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & button {
    cursor: pointer;
    @include btn();
    @include center();
    width: 80px;
    height: 32px;

    @include font(16px,600,1,$black);
    background-color: $green;
    border-radius: 8px;

    opacity: 0;
  }

  & p {
    margin: 0;

    @include font(16px,600,1,$black);
  }
}

.product__name {
  display: block;

  @include font(16px,300,1,$black);
  letter-spacing: 0.03em;
}
