.card__link {
  @include hover();
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 37px;
  height: 500px;

  &.grad-0 {
    background: radial-gradient(95.2% 95.2% at 50% 100%, #FDFCF3 0%, #DFD8C5 100%);
  }

  &.grad-1 {
    background: radial-gradient(95.2% 95.2% at 50% 100%, #EBEEE3 0%, #D8D6B5 100%);
  }

  &.grad-2 {
    background: radial-gradient(95.2% 95.2% at 50% 100%, #F9F1DF 0%, #FDF4DC 100%);
  }

  &.grad-3 {
    background: radial-gradient(95.2% 95.2% at 50% 100%, #FDF3F9 0%, #EED9D9 100%);
  }

  &.grad-4 {
    background: radial-gradient(95.2% 95.2% at 50% 100%, #EEE8E3 0%, #EDD8CF 100%);
  }

  &.grad-5 {
    background: radial-gradient(95.2% 95.2% at 50% 100%, #F2F1EF 0%, #E6E0CE 100%);
  }

  & img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    object-fit: cover;
    object-position: center top;

    @media screen and (max-width: $tablet-width) {
      height: 300px;
    }
  }

  & span {
    @include font(22px,500,1,$text-color);
    text-transform: uppercase;

    @media screen and (max-width: $mobile-width) {
      font-size: 20px;
    }
  }

  @media screen and (max-width: $tablet-width) {
    height: 400px;
  }
}

.card__list {
  @include list();
  column-fill: balance;
  column-count: 2;
  padding: 22px 0 53px;

  @media screen and (max-width: $mobile-width) {
    column-fill: initial;
    column-count: initial;
    padding-bottom: 10px;
  }
}

.card__item {
  margin-bottom: 12px;
}

.card__item-link {
  @include hover-text();
  @include font(12px,700,1.2,$text-color);
  letter-spacing: -0.01em;

  &.green {
    color: $green;
  }

  &.orange {
    color: $orange;
  }

  @media screen and (max-width: $mobile-width) {
    font-size: 14px;
  }
}
