.color-radio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.color-radio__label {
  @include hover();
  margin: 0 2px;

  & input:checked + .color-radio__box svg {
    display: block;
  }
}

.color-radio__box {
  @include center();
  width: 15px;
  height: 15px;

  border-radius: 50%;
  border-width: 1px;
  border-style: solid;

  & svg {
    display: none;
    fill: $white;
  }

  &.white {
    & svg {
      fill: $black;
    }
  }
}

