.email-form {
  margin-bottom: 65px;

  @media screen and (max-width:576px) {
    margin-bottom: 25px;
  }
}

.email-form__form {
  display: flex;
  align-items: center;
  padding: 21px 32px 26px 40px;

  background-color: $white;

  @media screen and (max-width: $tablet-width) {
    flex-wrap: wrap;
  }

  @media screen and (max-width:576px) {
    padding: 21px 15px 26px 15px;
  }
}

.email-form__check-block {
  margin-top: 13px;
  display: flex;
  align-items: center;
}

.email-form__label {
  & input:checked + .email-form__check-box svg {
    display: block;
  }
}

.email-form__check-box {
  @include hover();
  @include center();
  width: 18px;
  height: 18px;

  border: 1px solid $grey-4;

  & svg {
    display: none;
    fill: $text-color;
  }
}

.email-form__check-text {
  margin: 0;
  padding-left: 7px;

  @include font(10px,400,1.1,$text-color);

  @media screen and (max-width: $tablet-width) {
    font-size: 12px;
  }

  & a {
    @include hover();
    text-decoration: underline;
    color: $text-color;
    white-space: nowrap;
  }
}

.email-form__btn {
  flex: 0 0 165px;
  height: 43px;
  margin-top: 5px;
}

.email-form__caption {
  flex: 0 0 370px;
  @include font(16px,700,1.2,$text-color);

  @media screen and (max-width:1024px) {
    flex-basis: 300px;
  }

  @media screen and (max-width: $tablet-width) {
    flex-basis: 100%;
  }
}

.email-form__column {
  flex: 1 1 auto;
  padding: 0 40px;

  @media screen and (max-width: $tablet-width) {
    padding: 0;
    margin: 15px 0 25px;
  }
}

.email-form__email {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;

  @include font(16px,400,1,$text-color);

  border: none;
  border-bottom: 1px solid $bg-head-foot;
  outline: none;
}
