.footer {
  padding: 64px 0 44px;
  background-color: $bg-head-foot;

  @media screen and (max-width:1280px) {
    padding: 34px 0;
  }

  @media screen and (max-width:768px) {
    padding: 34px 0 0;
  }

  @media screen and (max-width:576px) {
    padding-top: 25px;
  }
}

.footer__container {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width:1280px) {
    justify-content: space-between;
  }

  @media screen and (max-width:1024px) {
    justify-content: space-around;
  }

  @media screen and (max-width:768px) {
    justify-content: flex-start;
  }

  @media screen and (max-width:576px) {
    display: block;
  }
}

.footer__main-column {
  flex: 0 0 305px;
  padding-right: 9px;
  margin-bottom: 34px;

  @media screen and (max-width:1280px) {
    flex-basis: 260px;
  }

  @media screen and (max-width:768px) {
    flex-basis: 50%;
  }
}

.footer__column {
  flex: 0 0 205px;
  padding-right: 9px;
  margin-bottom: 34px;

  @media screen and (max-width:1280px) {
    flex-basis: 180px;
  }

  @media screen and (max-width:1024px) {
    flex-basis: 257px;
  }

  @media screen and (max-width: $tablet-width) {
    flex-basis: 210px;
  }

  @media screen and (max-width:768px) {
    flex-basis: 50%;
  }
}

.footer__logo {
  @include hover();
  display: block;
  margin-bottom: 10px;
  width: 51px;
  height: 53px;

  @media screen and (max-width:768px) {
    width: 75px;
    height: 75px;
  }

  & img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.footer__text{
  margin: 0;
  @include font(12px,400,1.5,$text-color);
}

.footer__tel {
  @include hover();

  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 22px;

  @include font(13px,600,1,$text-color);

  & svg {
    flex: 0 0 16px;
    display: block;
    width: 16px;
    height: 16px;
    margin-right: 5px;

    fill: $bg-body;
  }
}

.footer__social {
  @include list();

  display: flex;
  align-items: center;
  margin-bottom: 39px;

  @media screen and (max-width:768px) {
    margin-bottom: 17px;
  }

  & li {
    flex: 0 0 auto;
    margin-right: 10px;
  }

  & a {
    @include hover();
    display: block;
  }

  & svg {
    fill: $footer-social;
  }
}

.footer__partner-link {
  @include hover();
  display: block;
  margin-bottom: 17px;
}

.footer__caption {
  margin-bottom: 28px;
  @include font(14px,600,1,$text-color);
  text-transform: uppercase;

  @media screen and (max-width:768px) {
    margin-bottom: 15px;
  }
}

.footer__list {
  @include list();

  li {
    margin-bottom: 8px;
  }

  & a {
    @include hover-text();
    @include font(12px,400,1.2,$text-color);

    @media screen and (max-width:768px) {
      font-size: 14px;
    }
  }
}
