.lookbook
  each item,index in ["Для девочек","Для мальчиков","Для малышей","Для девочек","Для спорта","Для школы"]
    a.lookbook__link(href="#", style="background-image: url('img/lookbook-"+(index+1)+".jpg')")
      .lookbook__tag Коллекции
      .lookbook__caption=item
