.top-filter {
  display: flex;
  align-items: center;
  margin: 5px 0 25px;

  @media screen and (max-width:576px) {
    flex-wrap: wrap;
  }
}

.top-filter__caption {
  flex: 0 0 auto;

  @include font(12px,400,1.5,$bg-head-foot);

  @media screen and (max-width:768px) {
    align-self: flex-start;
  }

  @media screen and (max-width:576px) {
    align-self: center;

    font-size: 14px;
  }
}

.top-filter__list {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 15px;

  @media screen and (max-width:576px) {
    flex-wrap: wrap;
    flex: 1 1 100%;
    margin-top: 13px;
    padding: 0;
    order: 2;
  }
}

.top-filter__label {
  margin-right: 15px;

  @media screen and (max-width:576px) {
    margin-bottom: 9px;
  }

  &:last-child {
    margin-right: 0;
  }

  & input:checked + span {
    text-decoration: none;
  }

  & span {
    @include hover();
    @include font(12px,400,1.5,$text-color);
    text-decoration: underline;
    text-decoration-style: dashed;
  }
}

.top-filter__open {
  display: none;
  flex: 0 0 auto;

  @media screen and (max-width: $tablet-width) {
    @include btn();
    @include hover();

    display: flex;
    align-items: center;
    padding: 7px;

    @include font(14px,700,1,$grey-2);
    text-transform: uppercase;

    background-color: $bg-head-foot;
    border-radius: 3px;

    & svg {
      display: block;
      margin-right: 13px;

      fill: $grey-2;
    }

    &:focus,
    &:hover,
    &:active {
      color: $white;

      & svg {
        fill: $white;
      }
    }
  }

  @media screen and (max-width:576px) {
    margin-left: auto;
    padding: 5px 10px;
  }
}
