.header {
  background-color: $white;
}

.header__row {
  position: relative;

  display: flex;

  @media screen and (max-width: 900px) {
    align-items: center;
  }
}

.header__logo {
  @include hover();
  display: flex;
  align-items: center;


  & img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.header__top {
  @media screen and (max-width: 900px) {
    flex: 1 0 auto;
  }
}

.header__hamburger {
  display: none;

  @media screen and (max-width: 900px) {
    flex: 0 0 30px;
    display: block;
    margin-left: 9px;
  }

  @media screen and (max-width: 576px) {
    margin-left: 5px;
  }

}
