.nav-block {
  padding: 28px 30px;

  background-color: $bg-nav-block;

  @media screen and (max-width: 900px) {
    padding: 15px 7px 0;
  }

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.nav-block__caption {
  @include hover-text();
  display: block;
  margin-bottom: 14px;

  @include font(12px,700,1,$text-color);
  line-height: 1.25;

  &--green {
    color: $green;
  }

  &--orange {
    color: $orange;
  }
}

.nav-block__big-column {
  column-fill: balance;
  column-count: 3;

  flex: 0 0 53%;
  margin-right: auto;
  padding-right: 9px;

  @media screen and (max-width: 900px) {
    flex-basis: 57%;
  }

  @media screen and (max-width: 768px) {
    column-count: 2;

    flex-basis: 100%;
    margin-bottom: 15px;
    padding-right: 0;
  }
}

.nav-block__column {
  flex: 0 0 23%;
  padding: 0 27px;

  border-left: 1px solid $white;

  @media screen and (max-width: 900px) {
    flex-basis: 21%;
    padding: 0 15px;
  }

  @media screen and (max-width: 768px) {
    flex-basis: 50%;
    padding-left: 0;
    padding-top: 15px;

    border: none;
    border-top: 1px solid $white;
  }
}

.nav-block__list{
  @include list();
  padding-left: 10px;
  margin-bottom: 22px;
}

.nav-block__link {
  @include hover-text();
  display: block;
  margin-bottom: 8px;

  @include font(12px,500,1,$text-color);
  line-height: 1.25;

  &--grey {
    color: $grey-3;
  }
}
