.nav {
  @media screen and (max-width: 900px) {
    padding-top: 15px;

    background-color: $bg-nav-block;
  }
}

.nav__list {
  @include list();

  display: flex;
  align-items: center;
  gap: 31px;

  @media screen and (max-width: 900px) {
    display: block;
  }
}

.nav__link {
  @include hover();
  @include font(14px,400,1,$black);
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

