$inter: "Inter", "Arial", sans-serif;

$black: #1F2020;
$black-2: #000000;
$text-color: $black;

$white: #ffffff;

$bg-body: #F3EDDD;
$bg-head-foot: #DAC0A5;
$bg-nav-block: #F8E8D1;
$bg-filter-size: #FCFBF7;
$footer-social: $bg-body;
$transparent: rgba(256,256,256,0);

$transition: all 0.3s ease-in;

$border: 1px solid $bg-head-foot;

$big-desktop-width: 1920px;
$desktop-width: 1440px;
$tablet-width: 1024px;
$mobile-width: 576px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$blue: #1c3b73;

$grey: #F2F2F2;

$green: #7BB899;

