$inter: "Inter", "Arial", sans-serif;

$black: #1F2020;
$black-2: #000000;
$text-color: $black;

$white: #ffffff;

$bg-body: #F3EDDD;
$bg-head-foot: #DAC0A5;
$bg-nav-block: #F8E8D1;
$bg-filter-size: #FCFBF7;
$footer-social: $bg-body;
$transparent: rgba(256,256,256,0);

$transition: all 0.3s ease-in;

$border: 1px solid $bg-head-foot;

$desktop-width: 1440px;
$tablet-width: 1024px;
$mobile-width: 576px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$blue: #1c3b73;

$grey: #F5E2C6;
$grey-2: #F8E8D1;
$grey-3: #94A2AC;
$grey-4: #DFE1E0;

$green: #7BB899;

$yellow: #FFCA64;
$yellow-2: #FCD36A;
$orange: #FF7A41;

$brown: #B13737;

$red: #FF1818;
