.basket.header__basket
  .basket__block
    .basket__top-row
      h2.h2.basket__caption Корзина
      button(type="button").basket__close
        +svg("close",24,24)
    .basket__reset-row
      span 4 товара
      button(type="button").basket__reset очистить список
    ul.basket__list
      - for(let i=1;i<4;i++)
        li.basket__item(id=i)
          .basket__img
            +img("color/color-1","jpg",96,96)
          .basket__text-column
            a(href="#").basket__item-link Краска Wallquest, Brownsone MS90102
            .basket__item-value 9600 ₽
          .basket__button-column
            button(type="button").basket__item-plus +
            span.basket__item-sum 2
            button(type="button").basket__item-minus -
          button(type="button").basket__delete
            +svg("close",24,24).delete-icon
            +svg("return",24,24).return-icon
    .basket__result-row
      .basket__result
        |Итого
        span 14 400₽
      button(type="button").basket__order Оформить заказ
