mixin catalog-card(caption,newCard)
  -
    const arrColor = [
      "#FFFFFF",
      "#21416F",
      "#000000",
      "#FDC878",
      "#6FB756",
      "#D487E0",
      "#E46F3D",
      "#768D95",
      "#DD2A6B",
      "#8DB9F9",
      "#92A37D",
      "#CDD2D3",
    ]

    const arrSize = [
      "42-48",
      "48-54",
      "54-58",
      "58-62",
      "62-68",
      "68-74",
      "74-80",
      "80-86",
      "62-68",
      "68-74",
      "74-80",
      "80-86",
    ]

  .catalog-card&attributes(attributes)
    .catalog-card__img
      block
    if newCard
      +card-flag("NEW").new.catalog-card__flag
    else
      +card-flag("SALE").sale.catalog-card__flag
    +like-btn().catalog-card__like-btn
    .catalog-card__vendor Артикул: 2316
    .catalog-card__caption=caption
    form.catalog-card__basket-form(action="#")
      .catalog-card__value 5200 р.
      button.catalog-card__btn(type="submit")
        +svg("basket",17,20)
        span Добавить в корзину
      .catalog-card__hover-block
        a.catalog-card__basket-link(href="#") Быстрый просмотр
        .catalog-card__radio-block
          .catalog-card__radio-row
            each item,index in arrSize
              label.catalog-card__size-label
                input.visually-hidden(type="radio", checked=(index===0)?true:false, name="radio-size")
                span.catalog-card__size-box=item
          +color-radio().catalog-card__color-radio
