mixin catalog-block(caption)
  -
    const arr = [
      {
        img: "card-2-10",
        caption: "Куртка",
      },{
        img: "card-2-11",
        caption: "Бирюзовая куртка",
      },{
        img: "card-2-12",
        caption: "Синяя рубашка",
      },{
        img: "card-2-13",
        caption: "Свитшот с воротником",
      },{
        img: "card-2-11",
        caption: "Бирюзовая куртка",
      },{
        img: "card-2-12",
        caption: "Синяя рубашка",
      },{
        img: "card-2-13",
        caption: "Свитшот с воротником",
      }
    ]
  section.catalog-block
    .container.catalog-block__container
      h2.h2.catalog-block__caption=caption
      .catalog-block__row
        each item in arr
          +catalog-card(item.caption,true).catalog-block__card
            +img(item.img,"jpg",285,370)
