mixin color-radio()
  -
    const arrColor = [
      "#FFFFFF",
      "#21416F",
      "#000000",
      "#FDC878",
      "#6FB756",
      "#D487E0",
      "#E46F3D",
      "#768D95",
      "#DD2A6B",
      "#8DB9F9",
      "#92A37D",
      "#CDD2D3",
    ]

  .color-radio&attributes(attributes)
    each item,index in arrColor
      label.color-radio__label
        input.visually-hidden(type="radio", checked=(index===2)?true:false, name="radio-color")
        span.color-radio__box(style="background-color:"+item+";border-color:"+((index===0)?"#F3EDDD":item)+";", class=(index===0)?"white":"")
          +svg("radio-check",8,6)
