-
  const arr1 = [
    {
      caption: "Верхняя одежда",
      arrLink: [
        "Куртки",
        "Пальто, Плащи",
        "Брюки",
        "Комбинезоны",
        "Жилеты",
      ],
    },
    {
      caption: "Повседневная одежда",
      arrLink: [
        "Футболки",
        "Водолазки",
        "Шорты",
        "Брюки",
        "Джинсы",
        "Комплекты",
        "Комбинезоны, полукомбинезоны",
        "Толстовки, джемперы",
        "Жакеты, куртки",
        "Рубашки",
        "Жилеты",
        "Вязаная одежда, для мальчиков",
      ]
    },
    {
      caption: "Белье, одежда для дома",
      arrLink: [
        "Пижамы",
        "Халаты",
        "Трусы",
        "Майки",
        "Кальсоны",
        "Бесшовное бельё",
      ]
    },
    {
      caption: "Одежда из флиса",
      arrLink: [
        "Флисовые куртки",
        "Флисовые брюки",
        "Флисовые комбинезоны",
      ]
    },
    {
      caption: "Рукавицы, Перчатки",
      arrLink: [
        "Рукавицы",
        "Перчатки",
      ]
    },
    {
      caption: "Головные уборы, шарфы",
      arrLink: [
        "Банданы, Повязки",
        "Кепки, панамы",
        "Шапки",
        "Шарфы, манишки",
      ]
    },
    {
      caption: "Обувь",
      arrLink: [
        "Ботинки, кеды",
        "Пантолеты",
        "Сандали",
        "Сапоги",
      ]
    },
    {
      caption: "Купальники, плавки",
      arrLink: [
        "Рюкзаки, сумки",
        "Галстуки, ремни, подтяжки",
      ]
    },
    {
      caption: "Аксессуары",
      arrLink: [
        "Рюкзаки, сумки",
        "Галстуки, ремни, подтяжки",
      ]
    },
    {
      caption: "Чулочно-носочный ассортимент",
      arrLink: [
        "Носки",
        "Колготки",
      ]
    },
    {
      caption: "Спорт, школа",
      arrLink: [
        "Рюкзаки, сумки",
        "Галстуки, ремни, подтяжки",
      ]
    },
    {
      caption: "Новинки",
      captionClass: "green",
    },
    {
      caption: "Распродажа",
      captionClass: "orange",
    },
  ]

.side-catalog__bar-column.filter-list
  each item in arr1
    if item.arrLink
      button.filter-list__caption(type="button")=item.caption
        +svg("min-arrow",11,7)
      ul.filter-list__list
        each link in item.arrLink
          li
            a(href="#")=link
    else
      a.filter-list__caption(class="filter-list__caption--"+item.captionClass)=item.caption
