-
  const arrNumber = [
    "1",
    "2",
    "3",
    "4",
    "...",
    "33",
  ]

.pagination
  .pagination__number-list
    each item,index in arrNumber
      if index===0
        span.pagination__number.active=item
      else
        button.pagination__number(type="button")=item
  a(href="#").button.pagination__link Показать еще
