.side-catalog-text
  .side-catalog-text__row
    p Одежда для мальчиков должна сочетать абсолютный комфорт и стильный внешний вид, что проявляется как в оригинальности кроя, так и в интересных цветовых сочетаниях или уникальном дизайне.
    p Все мы знаем, что практически все мальчишки чрезвычайно активны, и проводят много времени в движении, будь то во дворе, на футбольном поле или дома, поэтому важно, чтобы одежда была функциональной – ни одна вещь не должна сковывать движений, оказывать трение, или не давать коже «дышать».
  a.side-catalog-text__link(href="#") Подробнее
