.side-catalog
  .side-catalog__bar
    include filter-form.pug
    include filter-list.pug
  .side-catalog__column
    include top-filter.pug
    include side-catalog-row.pug
    include pagination.pug
    include side-catalog-text.pug
