-
  const arrCard = [
    {
      img: "card-2-1",
      caption: "Куртка",
    },{
      img: "card-2-2",
      caption: "Бирюзовая куртка",
    },{
      img: "card-2-3",
      caption: "Куртка",
    },{
      img: "card-2-4",
      caption: "Бирюзовая куртка",
    },{
      img: "card-2-5",
      caption: "Синяя рубашка",
    },{
      img: "card-2-6",
      caption: "Свитшот с воротником",
    },{
      img: "card-2-7",
      caption: "Куртка",
    },{
      img: "card-2-8",
      caption: "Бирюзовая куртка",
    },{
      img: "card-2-9",
      caption: "Синяя рубашка",
    }
  ]

.side-catalog-row
  each item,index in arrCard
    +catalog-card(item.caption,(index%2===0)?true:false).side-catalog-row__card
      +img(item.img,"jpg",285,370)
