.big-card
  .big-card__img-column
    .big-card__container
      .big-card__slide.js-fancy-min.active
        a(href="img/min-card-1-middle.jpg" data-big="img/min-card-1-extra.jpg")
          +img("min-card-1","jpg",82,110)
      .big-card__slide.js-fancy-min
        a(href="img/min-card-2-middle.jpg" data-big="img/min-card-2-extra.jpg")
          +img("min-card-2","jpg",82,110)
      .big-card__slide.js-fancy-min
        a(href="img/min-card-3-middle.jpg" data-big="img/min-card-3-extra.jpg")
          +img("min-card-3","jpg",82,110)
    .big-card__big-img-container
      +like-btn().big-card__like-btn
      .big-card__big-img.js-fancy-big
        +img("min-card-1-middle","jpg",467,634)
        +card-flag("NEW").new
  include card-text.pug
