-
  const arrText = [
    {
      caption: "О товаре",
    },
    {
      caption: "Описание",
      text: "Комбинезон с утеплителем Fellex®, 200 г/м2. Рекомендованный температурный режим - от 0° до -20°. Мембранная ткань 5000/5000 с тефлоновым покрытием отталкивает воду и грязь и обладает «дышащими» свойствами. Подкладка в комбинезонах до размера 86-92 включительно выполнена из хлопка, в размере 92-98 – из полиэстера. Капюшон со светоотражающим элементом застёгивается на липучку, утягивается с помощью эластичного шнурка. Длинная молния облегчает одевание, предусмотрена защита подбородка. Внешняя планка дополнительно защищает от ветра. Утяжка талии по спинке обеспечивает отличную посадку, но при этом позволяет ребёнку активно двигаться. На груди - карман на молнии для мелочей. В размерах с 62-68 по 80-86 в комплекте идут рукавицы и пинетки.",
    },
    {
      caption: "Доставка",
      text: "Комбинезон с утеплителем Fellex®, 200 г/м2. Рекомендованный температурный режим - от 0° до -20°. Мембранная ткань 5000/5000 с тефлоновым покрытием отталкивает воду и грязь и обладает «дышащими» свойствами. Подкладка в комбинезонах до размера 86-92 включительно выполнена из хлопка, в размере 92-98 – из полиэстера. Капюшон со светоотражающим элементом застёгивается на липучку, утягивается с помощью эластичного шнурка. Длинная молния облегчает одевание, предусмотрена защита подбородка. Внешняя планка дополнительно защищает от ветра. Утяжка талии по спинке обеспечивает отличную посадку, но при этом позволяет ребёнку активно двигаться. На груди - карман на молнии для мелочей. В размерах с 62-68 по 80-86 в комплекте идут рукавицы и пинетки.",
    },
  ]

  const arrDl = [
    {
      dt: "Бренд: ",
      dd: "CROCKID",
    },{
      dt: "Состав: ",
      dd: "верх: 80% полиэстер, 20% полиуретан; подклад: 100% хлопок; Утеплитель: 100% полиэстер",
    },{
      dt: "Сезон: ",
      dd: "осень-зима",
    },{
      dt: "Утеплитель: ",
      dd: "с утеплителем",
    },{
      dt: "Цвет: ",
      dd: "золотисто-желтый, мир животных",
    },
  ]

form(action="#").big-card__text-column.card-text
  .card-text__article Артикул: 2316
  h2.card-text__caption Комбинезон
  .card-text__param
    span.card-text__param-name Цвет:
    +color-radio().card-text__param-color
  .card-text__param
    span.card-text__param-name Размер:
    a(href="#") Таблица размеров
  +size-row().card-text__size-row
  .card-text__value 5200 р.
  button.button.card-text__submit(type="submit")
    +svg("basket",17,20)
    |Добавить в корзину
  .card-text__sale
    +svg("sale",37,37)
    p
      strong Скидка 5%
      !=" будет доступна при оплате онлайн на сайте"
  each item in arrText
    .card-text__caption-row.toggle
      h3=item.caption
      +svg("min-arrow",8,5)
    .card-text__toggle-block
      if item.text
        p=item.text
      else
        each itemDl in arrDl
          p.card-text__dl-text
            span!=itemDl.dt
            !=itemDl.dd
  .card-text__caption-row
    h3 Поделиться
    ul.card-text__social
      each item in ["fb","tg","vk","viber","ok"]
        li
          a(href="#",aria-label="social-link")
            +svg(item,24,24)
