extends pug/layout.pug
block variables
    - var title = 'Карточка товара'



include pug/mixin.pug

block append head
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css")

block content
  main.main
    +breadcrumbs([title,"Верхняя одежда","Комбинезоны утепленные","Комбинезон"],true)
    .container
      h1.visually-hidden=title
      include pug/blocks/card-page/big-card.pug
      +catalog-block("МЫ ВАМ РЕКОМЕНДУЕМ")
      include pug/blocks/email-form.pug
