extends pug/layout.pug
block variables
    - var title = 'Каталог товаров'



include pug/mixin.pug

block content
  main.main
    +breadcrumbs(["Каталог"])
    +section-card("Каталог продукции",true)
    include pug/blocks/email-form.pug
