doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="width=device-width, initial-scale=1" name="viewport")
        meta(name="description" content="Lorem ipsum dolor sit amet, consectetuer adipiscing elit.")
        title babyshop
        link(rel="stylesheet" href="css/style.min.css")
    body
        ol
            li
                a(href="main-page.html") Главная
            li
                a(href="catalog-page.html") Каталог
            li
                a(href="side-catalog-page.html") Раздел каталога
            li
                a(href="card-page.html") Карточка товара
            li
                a(href="lookbook-page.html") lookbook
            li
                a(href="delivery-page.html") Доставка и каталог
            li
                a(href="return-page.html") Возврат
