extends pug/layout.pug
block variables
    - var title = 'Главная страница'

include pug/mixin.pug

block content
  main.main
    h1.visually-hidden babyshop
    include pug/blocks/main-page/main-slider.pug
    include pug/blocks/main-page/catalog-block.pug
    //- +catalog-block("ОСЕННИЕ КОЛЛЕКЦИИ УЖЕ В ПРОДАЖЕ!")
