extends pug/layout.pug
block variables
    - var title = 'Одежда для мальчиков'



include pug/mixin.pug

block content
  main.main
    +breadcrumbs([title,"Одежда для мальчиков"])
    .container
      h1.h2=title
      include pug/blocks/side-catalog-page/side-catalog.pug
    include pug/blocks/email-form.pug
